# Bài tập cơ bản

In [20]:
import pandas as pd
import numpy as np

df = pd.read_excel("https://github.com/ltdaovn/dataset/blob/master/student.xlsx?raw=true", index_col='id')
print(df)

                   name class1  mark     sex
id
1.0      Angelina Jolie   Four  75.0  female
2.0   Cristiano Ronaldo  Three  85.0    male
NaN           John Wick  Three  55.0    male
4.0           Lady Gaga   Four  60.0  female
NaN          Emma Stone   Four  60.0  female
6.0             Alex Jo   Four  55.0     NaN
7.0        Lionel Messi   Five  78.0    male
NaN                 NaN    NaN   NaN     NaN
9.0       Thierry Henry    Six  78.0    male
10.0                NaN   Four  55.0  female
11.0   Callie Hernandez    Six   NaN  female
12.0      Jessica Rothe    Six  94.0  female
13.0                Ron    NaN  55.0     NaN
14.0               King    NaN   NaN     NaN

In [22]:
# Xóa các hàng có bất kỳ giá trị nào bị rỗng
new_df= df.dropna()
print(new_df)

                   name class1  mark     sex
id
1.0      Angelina Jolie   Four  75.0  female
2.0   Cristiano Ronaldo  Three  85.0    male
NaN           John Wick  Three  55.0    male
4.0           Lady Gaga   Four  60.0  female
NaN          Emma Stone   Four  60.0  female
7.0        Lionel Messi   Five  78.0    male
9.0       Thierry Henry    Six  78.0    male
12.0      Jessica Rothe    Six  94.0  female

In [21]:
# Xóa các hàng có tất cả giá trị đều bị rỗng
new_df=df.dropna(how='all')
print(new_df)

                   name class1  mark     sex
id
1.0      Angelina Jolie   Four  75.0  female
2.0   Cristiano Ronaldo  Three  85.0    male
NaN           John Wick  Three  55.0    male
4.0           Lady Gaga   Four  60.0  female
NaN          Emma Stone   Four  60.0  female
6.0             Alex Jo   Four  55.0     NaN
7.0        Lionel Messi   Five  78.0    male
9.0       Thierry Henry    Six  78.0    male
10.0                NaN   Four  55.0  female
11.0   Callie Hernandez    Six   NaN  female
12.0      Jessica Rothe    Six  94.0  female
13.0                Ron    NaN  55.0     NaN
14.0               King    NaN   NaN     NaN

In [23]:
# Xóa các cột có bất kỳ giá trị nào bị rỗng
new_df=df.dropna(axis=1, how='any')
print(new_df)

Empty DataFrame
Columns: []
Index: [1.0, 2.0, nan, 4.0, nan, 6.0, 7.0, nan, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0]

In [24]:
# Xóa các cột có tất cả giá trị đều bị rỗng
new_df = df.dropna(axis=1, how='all')
print(new_df)

                   name class1  mark     sex
id
1.0      Angelina Jolie   Four  75.0  female
2.0   Cristiano Ronaldo  Three  85.0    male
NaN           John Wick  Three  55.0    male
4.0           Lady Gaga   Four  60.0  female
NaN          Emma Stone   Four  60.0  female
6.0             Alex Jo   Four  55.0     NaN
7.0        Lionel Messi   Five  78.0    male
NaN                 NaN    NaN   NaN     NaN
9.0       Thierry Henry    Six  78.0    male
10.0                NaN   Four  55.0  female
11.0   Callie Hernandez    Six   NaN  female
12.0      Jessica Rothe    Six  94.0  female
13.0                Ron    NaN  55.0     NaN
14.0               King    NaN   NaN     NaN

In [25]:
# Chỉ giữ lại các hàng có từ 2 dữ liệu hợp lệ trở lên
new_df = df.dropna(thresh=2)
print(new_df)

                   name class1  mark     sex
id
1.0      Angelina Jolie   Four  75.0  female
2.0   Cristiano Ronaldo  Three  85.0    male
NaN           John Wick  Three  55.0    male
4.0           Lady Gaga   Four  60.0  female
NaN          Emma Stone   Four  60.0  female
6.0             Alex Jo   Four  55.0     NaN
7.0        Lionel Messi   Five  78.0    male
9.0       Thierry Henry    Six  78.0    male
10.0                NaN   Four  55.0  female
11.0   Callie Hernandez    Six   NaN  female
12.0      Jessica Rothe    Six  94.0  female
13.0                Ron    NaN  55.0     NaN

In [26]:
# Chỉ giữ lại các hàng có từ 3 dữ liệu hợp lệ trở lên
new_df = df.dropna(thresh=3)
print(new_df)

                   name class1  mark     sex
id
1.0      Angelina Jolie   Four  75.0  female
2.0   Cristiano Ronaldo  Three  85.0    male
NaN           John Wick  Three  55.0    male
4.0           Lady Gaga   Four  60.0  female
NaN          Emma Stone   Four  60.0  female
6.0             Alex Jo   Four  55.0     NaN
7.0        Lionel Messi   Five  78.0    male
9.0       Thierry Henry    Six  78.0    male
10.0                NaN   Four  55.0  female
11.0   Callie Hernandez    Six   NaN  female
12.0      Jessica Rothe    Six  94.0  female

In [27]:
# Chỉ giữ lại các cột có từ 11 dữ liệu hợp lệ
new_df = df.dropna(thresh=11, axis=1)
print(new_df)

                   name class1  mark
id
1.0      Angelina Jolie   Four  75.0
2.0   Cristiano Ronaldo  Three  85.0
NaN           John Wick  Three  55.0
4.0           Lady Gaga   Four  60.0
NaN          Emma Stone   Four  60.0
6.0             Alex Jo   Four  55.0
7.0        Lionel Messi   Five  78.0
NaN                 NaN    NaN   NaN
9.0       Thierry Henry    Six  78.0
10.0                NaN   Four  55.0
11.0   Callie Hernandez    Six   NaN
12.0      Jessica Rothe    Six  94.0
13.0                Ron    NaN  55.0
14.0               King    NaN   NaN

In [29]:
# Chỉ giữ lại các hàng có 70% dữ liệu hợp lệ trở lên
new_df = df.dropna(thresh=df.shape[1]*0.7)
print(new_df)

                   name class1  mark     sex
id
1.0      Angelina Jolie   Four  75.0  female
2.0   Cristiano Ronaldo  Three  85.0    male
NaN           John Wick  Three  55.0    male
4.0           Lady Gaga   Four  60.0  female
NaN          Emma Stone   Four  60.0  female
6.0             Alex Jo   Four  55.0     NaN
7.0        Lionel Messi   Five  78.0    male
9.0       Thierry Henry    Six  78.0    male
10.0                NaN   Four  55.0  female
11.0   Callie Hernandez    Six   NaN  female
12.0      Jessica Rothe    Six  94.0  female

In [31]:
#Chỉ giữ lại các cột có 80% dữ liệu hợp lệ trở lên
new_df = df.dropna(axis=1,thresh=df.shape[1]*0.8)
print(new_df)

                   name class1  mark     sex
id
1.0      Angelina Jolie   Four  75.0  female
2.0   Cristiano Ronaldo  Three  85.0    male
NaN           John Wick  Three  55.0    male
4.0           Lady Gaga   Four  60.0  female
NaN          Emma Stone   Four  60.0  female
6.0             Alex Jo   Four  55.0     NaN
7.0        Lionel Messi   Five  78.0    male
NaN                 NaN    NaN   NaN     NaN
9.0       Thierry Henry    Six  78.0    male
10.0                NaN   Four  55.0  female
11.0   Callie Hernandez    Six   NaN  female
12.0      Jessica Rothe    Six  94.0  female
13.0                Ron    NaN  55.0     NaN
14.0               King    NaN   NaN     NaN

# Bài tập nâng cao

In [38]:
# -*- coding: utf-8 -*-

"""1. Bài tập về xử lý các trường hợp dữ liệu bị thiếu

Trong bài tập này, chúng ta sẽ làm việc với bộ dữ liệu Housing Prices. 

Tập dữ liệu này có 79 giá trị mô tả (gần như) mọi khía cạnh của các căn nhà ở tại Ames, Iowa.
Với tập dữ liệu này, chúng ta cần xây dựng mô hình để dự đoán giá của mỗi ngôi nhà.

"""

import pandas as pd
from sklearn.model_selection import train_test_split

# Đọc dữ liệu
X_full = pd.read_csv('https://raw.githubusercontent.com/ltdaovn/dataset/master/housing-prices/train.csv',
                     index_col='Id')
X_test_full = pd.read_csv('https://raw.githubusercontent.com/ltdaovn/dataset/master/housing-prices/test.csv',
                          index_col='Id')

# Loại bỏ các căn nhà không có giá
X_full.dropna(axis=0, subset=['SalePrice'], inplace=True)
y = X_full.SalePrice
X_full.drop(['SalePrice'], axis=1, inplace=True)

# Để đơn giản bài toán, ở đây chúng ta chỉ chọn các thuộc tính số
X = X_full.select_dtypes(exclude=['object'])
X_test = X_test_full.select_dtypes(exclude=['object'])

# Chia tập dữ liệu thành 2 tập dữ liệu con là training set và validation set
X_train, X_valid, y_train, y_valid = train_test_split(X, y,
                                                      train_size=0.8,
                                                      test_size=0.2,
                                                      random_state=0)

# Xem các căn nhà đầu tiên trong tập dữ liệu huấn luyện. Chú ý các giá trị bị thiếu.
X_train.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
Id,,,,,,,,,,,,,,,,,,,,,
619,20,90.0,11694,9,5,2007,2007,452.0,48,0,...,774,0,108,0,0,260,0,0,7,2007
871,20,60.0,6600,5,5,1962,1962,0.0,0,0,...,308,0,0,0,0,0,0,0,8,2009
93,30,80.0,13360,5,7,1921,2006,0.0,713,0,...,432,0,0,44,0,0,0,0,8,2009
818,20,NaN,13265,8,5,2002,2002,148.0,1218,0,...,857,150,59,0,0,0,0,0,7,2008
303,20,118.0,13704,7,5,2001,2002,150.0,0,0,...,843,468,81,0,0,0,0,0,1,2006

In [42]:
"""
# Bước 1: Làm quen với dữ liệu
"""

print()

# Xem mô tả tập dữ liệu huấn luyện
print(X_train.shape)

# Số lượng dữ liệu bị thiếu trong các cột
missing_val_count_by_column = X_train.isnull().sum()
print(missing_val_count_by_column[missing_val_count_by_column > 0])

print()

# Hãy trả lời các câu hỏi sau đây?

# Có bao nhiêu căn nhà trong tập dữ liệu huấn luyện?
num_rows = len(X_train)
print("num_rows:\t\t", num_rows)

# Có bao nhiêu cột dữ liệu bị thiếu?
cols_with_missing = [col for col in X_train.columns if X_train[col].isna().any()]
num_cols_with_missing = len(cols_with_missing)
print("num_cols_with_missing:\t", num_cols_with_missing)

# How many missing entries are contained in all of the training data?
tot_missing = 0
for col in X_train:
    tot_missing = tot_missing + sum(X_train[col].isna())
print("tot_missing:\t\t", tot_missing)

(1168, 36)
LotFrontage    212
MasVnrArea       6
GarageYrBlt     58
dtype: int64

num_rows:		 1168
num_cols_with_missing:	 3
tot_missing:		 276

In [43]:
"""Bước 2: định nghĩa hàm để đo chất lượng của từng phương pháp

Để so sánh chất lượng của các phương pháp, chúng ta cần định nghĩa hàm score_dataset() . 
Hàm được sử dụng trong ví dụ này là hàm Trung bình của sai biệt tuyệt đối (the mean absolute error (MAE)) 
dành cho mô hình rừng ngẫu nhiên (RandomForest).
(https://en.wikipedia.org/wiki/Mean_absolute_error) 
"""


from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

def score_dataset(X_train, X_valid, y_train, y_valid):
    model = RandomForestRegressor(n_estimators=100, random_state=0)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    return mean_absolute_error(y_valid, preds)

In [45]:
"""Bước 3: 
    Trong các phương pháp xử lý dữ liệu bị thiếu bạn đã học,
    phương pháp nào cho kết quả dự báo chính xác nhất.
    Hãy cho biết giá trị MAE của từng mô hình.
    """

print()

"""Drop columns with missing values
"""

from sklearn.impute import SimpleImputer

reduced_X_train = X_train.drop(cols_with_missing, axis=1)
reduced_X_valid = X_valid.drop(cols_with_missing, axis=1)

print(
    "Drop columns with missing values:\t",
    score_dataset(reduced_X_train, reduced_X_valid, y_train, y_valid),
)

"""Imputation
"""

my_imputer = SimpleImputer()
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(X_train))
imputed_X_valid = pd.DataFrame(my_imputer.transform(X_valid))
imputed_X_train.columns = X_train.columns
imputed_X_valid.columns = X_valid.columns

print(
    "Imputation:\t\t\t\t",
    score_dataset(imputed_X_train, imputed_X_valid, y_train, y_valid),
)

"""Extension to Imputation
"""

X_train_plus = X_train.copy()
X_valid_plus = X_valid.copy()

for col in cols_with_missing:
    X_train_plus[col + "_was_missing"] = X_train_plus[col].isnull()
    X_valid_plus[col + "_was_missing"] = X_valid_plus[col].isnull()

my_imputer = SimpleImputer()
imputed_X_train_plus = pd.DataFrame(my_imputer.fit_transform(X_train_plus))
imputed_X_valid_plus = pd.DataFrame(my_imputer.transform(X_valid_plus))
imputed_X_train_plus.columns = X_train_plus.columns
imputed_X_valid_plus.columns = X_valid_plus.columns

print(
    "An Extension to Imputation:\t\t",
    score_dataset(imputed_X_train_plus, imputed_X_valid_plus, y_train, y_valid),
)

print('\nMost accurate approach is "Drop columns with missing values"')

Drop columns with missing values:	 17837.82570776256
Imputation:				 18062.894611872147
An Extension to Imputation:		 18148.417180365297

Most accurate approach is "Drop columns with missing values"